@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700;900&display=swap');
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
			url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Gilroy-Regular.woff2') format('woff2'),
			url('../fonts/Gilroy-Regular.woff') format('woff'),
			url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
			url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Gilroy-Light.woff2') format('woff2'),
			url('../fonts/Gilroy-Light.woff') format('woff'),
			url('../fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
			url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Gilroy-Medium.woff2') format('woff2'),
			url('../fonts/Gilroy-Medium.woff') format('woff'),
			url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
			url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Gilroy-Bold.woff2') format('woff2'),
			url('../fonts/Gilroy-Bold.woff') format('woff'),
			url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
			url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Gilroy-Black.woff2') format('woff2'),
			url('../fonts/Gilroy-Black.woff') format('woff'),
			url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
/*------------------------------------------------------------------------------------ custom*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
*:focus {
  outline: none!important;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
	background-color: #080808;
}
body {
  font-family: 'Gilroy';
	font-weight: 300;
  font-size: 20px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
	max-width: 1980px;
	color: #fff;
	margin: 0 auto;
	line-height: 1.2;
}
.wraper {
  max-width: 1230px;
  margin: 0 auto;
	padding: 0px 15px;
}
a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
a.link {
	font-size: 18px;
	font-weight: bold;
	background-color: #F5FF26;
	color: #0C0C0C;
	padding: 20px 50px;
	border-radius: 50px;
}
a.link:hover {
	-webkit-box-shadow: 0px 0px 18px #F5FF26;
	        box-shadow: 0px 0px 18px #F5FF26;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
a.link.outline {
	background-color: transparent;
	color: #fff;
	border: 1px solid;
	font-size: 18px;
	font-weight: 500;
}
a.link.outline:hover {
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: #fff;
	color: #0C0C0C;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
img {
	max-width: 100%;
}
h1, h2, h3 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 900;
}
h1 {
	font-size: 75px;
	color: #F5FF26;
}
h1 span {
  color: #0C0C0C;
}
h2 {
	font-size: 48px;
	margin-bottom: 15px;
	font-weight: 700;
}
h2 span {
	font-size: 24px;
}
section {
	padding: 25px 0;
}
ul, ol {
	padding: 0px;
	margin: 0px;
}
ul li, ol li {
	list-style-type: none;
}
.title__section p {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 50px;
}
.text__center {
  text-align: center;
}
.hidden,
.price__mobile,
.gift__mobile,
.img__laptop,
.hidden__desktop {
	display: none;
}
.mt-50 {
	margin-top: 50px;
}
.mobile {
	display: none;
}
/*------------------------------------------------------------------------------------  header*/
.header {
  background-image: url(../images/light-1.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 35px;
}
.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	gap: 50px;
}
.header__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.header__title {
  margin-top: 250px;
	margin-bottom: 80px;
	width: 750px;
}
.header__title h1 {
	line-height: 65px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 20px rgba(55, 39, 1, 0.3);
	text-transform: uppercase;
	letter-spacing: 5px;
}
.header__title h1 span {
	text-shadow: 0px 0px 20px rgba(55, 39, 1, 0.3);
  font-size: 65px;	
	letter-spacing: 1px;
}
.header__title p {
  color: #0C0C0C;
	font-size: 26px;
	font-weight: 500;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-toggle {
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
  margin: 7px 0;
}
.nav-toggle:focus {
  outline-width: 0;
}
.nav-toggle [class*='bar-'] {
  background: #fff;
  display: block;
  -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          -o-transition: .2s ease all;
          transition: .2s ease all;
  height: 3px;
  width: 32px;
  margin-bottom: 5px;
}
.opened .bar-top {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform-origin: 15% 35%;
          -ms-transform-origin: 15% 35%;
      transform-origin: 15% 35%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform-origin: 15% 70%;
          -ms-transform-origin: 15% 70%;
      transform-origin: 15% 70%;
}
.mobile__nav {
	text-align: center;
	padding: 50px;
	background-color: #0C0C0C;
	position: absolute;
	width: 100%;
	left: 0;
}
.mobile__nav li a {
	font-size: 20px;
	margin: 10px 0;
}
a.mobile__link {
	font-size: 18px;
}
.mobile__nav li a.link {
	background-color: #0C0C0C;
	color: #F5FF26;
  border: 2px solid;
	margin-top: 50px;
}
.mobile__nav li a.link:hover {
	background-color: #F5FF26;
	color: #0C0C0C;
	border-color: #F5FF26;
}
.inner__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 90px;
}
.inner__text {
	text-align: right;
}
.inner__text ul {
	width: 500px;
}
.inner__text ul li {
	display: inline-block;
	padding: 13px 27px;
	margin: 5px;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.inner__text p {
	font-size: 15px;
}
.arrow {
	position: relative;
}
.arrow::after {
	content: url(../images/arrow.svg);
	right: 0;
	position: absolute;
  top: 20px;
}
/*------------------------------------------------------------------------------------  video*/
.video {
	background-color: #000;
	padding: 0;
}
.video img {
	width: 1250px;
}
/*------------------------------------------------------------------------------------  universal*/
.universal {
	background-image: url(../images/bg-frame-9.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
}
.universal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.inner__item {
  width: 50%;
}
.universal__inner .img {
	background-image: url(../images/bg-frame-3.png);
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.universal .universal__inner .img img {
	scale: 1.25;
}
.inner__item.block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 25px;
	margin-bottom: 35px;
}
.inner__item.block ul li {
	width: calc(100% / 2 - 13px);
	border: 1px solid #fff;
	border-radius: 22px;
	padding: 20px 25px;
}
.inner__item.block ul li p {
	margin: 0;
}
p.num {
	color: #F5FF26;
	font-weight: 900;
  font-size: 35px;
	padding-bottom: 10px;
}
/*------------------------------------------------------------------------------------  advantage*/
.advantage {
	background-image: url(../images/bg-frame.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right center;
}
.advantage .universal__inner .img {
	background-image: url(../images/bg-frame-4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -150px;
}
.table {
	padding-top: 0px;
	background-image: url(../images/bg-frame-5.png);
	background-repeat: no-repeat;
	background-size: 600px;
	background-position: left bottom;
}
.table__block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 35px;
}
.table__block ul li {
	width: calc(100% / 2);
	border-left: 1px solid;
	border-top: 1px solid;
	padding: 20px 50px;
}
.table__block ul li:nth-child(1) {
	border-top-left-radius: 25px;
}
.table__block ul li:nth-child(2) {
	border-top-right-radius: 25px;
}
.table__block ul li:nth-child(5) {
	border-bottom-left-radius: 25px;
	border-bottom: 1px solid;
}
.table__block ul li:nth-child(6) {
	border-bottom-right-radius: 25px;
	border-bottom: 1px solid;
}
.table__block ul li:nth-child(even) {
	border-right: 1px solid;
}
.table__block ul li .table__title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 15px;
}
.table__block ul li .table__text {
  font-size: 24px;
}
.table__block ul li:hover svg path {
  fill: #F5FF26;
	-webkit-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
.table__block ul li:hover svg circle {
	stroke: #F5FF26;
	-webkit-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
.table__block ul li:hover .table__title {
   color: #F5FF26;
	-webkit-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
/*------------------------------------------------------------------------------------  gift*/
.gift {
	background: -o-linear-gradient(top, #080808 0.19%, #181818 99.81%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19%, #080808), color-stop(99.81%, #181818));
	background: linear-gradient(180deg, #080808 0.19%, #181818 99.81%);
	padding-bottom: 0px;
}
.gift .wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	background-image: url(../images/light-5.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
}
.gift .title__section {
  width: 650px;
	padding-bottom: 500px;
}
/*------------------------------------------------------------------------------------  testimonials*/
.testimonials__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
}
.testimonials {
	background-image: url(../images/bg-frame-7.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
}
.testimonial__bg {
	background-image: url(../images/bg-frame-10.png);
	background-repeat: no-repeat;
	background-size: 850px;
	background-position: right bottom;
}
.testimonials__title p {
	font-size: 24px;
	margin: 15px 0px;
}
.testimonials__title p span {
	font-size: 18px;
	color: #A1A1A1;
}
.testimonials__item {
	padding-bottom: 50px;
}
.testimonials__item ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 35px;
	margin-top: 50px;
}
.testimonials__item ul li {
	background: rgba(255, 255, 255, 0.22);
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  border-radius: 30px;
	padding: 10px 30px;
	width: calc(100% / 2 - 18px);
}
a.testim-1.link.outline, 
a.testim-2.link.outline {
	margin-top: 30px;
}
/*------------------------------------------------------------------------------------  price*/
.price__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 35px;
	margin-top: 50px;
}
.price__block {
	background: rgba(255, 255, 255, 0.22);
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
	width: calc(100% / 4 - 27px);
	text-align: center;
	border-radius: 30px;
}
.prew__text  {
	padding: 11px 0px;
	margin: 0;
}
.price__block a {
	border: 2px solid #FFFFFF;
  border-radius: 50px;
	margin: 20px;
  padding: 10px 65px;
	font-size: 18px;
	font-weight: bold;
}
.price__block:nth-child(3) .prew__text {
  background-color: #fff;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.price__block:nth-child(4) .prew__text {
  background-color: #F5FF26;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.price__block:nth-child(4) {
	border-color: #F5FF26;
}
.price__block:nth-child(4) a {
	border-color: #F5FF26;
	color: #0C0C0C;
	background-color: #F5FF26;
}
.prew__text {
	font-size: 12px;
	font-weight: bold;
	color: #0C0C0C;
}
.col__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  gap: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 20px;
	padding-bottom: 15px;
}
.col__item span {
  font-size: 65px;
	color: transparent;
	text-align: center;
  -webkit-text-stroke: 1px #F5FF26;
	margin: 0;
	line-height: 65px;
	font-weight: 900;
}
.price {
	font-size: 36px;
	margin: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 20px;
	font-weight: bold;
}
.price span {
	font-size: 24px;
	font-weight: 500;
}
.price del {
	font-size: 24px;
	margin-left: 20px;
	color: #CFCFCF;
	font-weight: 500;
}
.price__text {
	margin: 20px;
	height: 50px;
}
.price__text li {
	font-size: 16px;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 15px;
	list-style-type: disc;
}
.price__block:nth-child(1) .price__text li {
	list-style-type: none;
}
.price__block a:hover {
	background-color: #fff;
	color: #0C0C0C;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.price__block:nth-child(4) a:hover {
	-webkit-box-shadow: 0px 0px 18px #F5FF26;
	        box-shadow: 0px 0px 18px #F5FF26;
	background-color: #F5FF26;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
/*------------------------------------------------------------------------------------  work*/
.work {
	background-image: url(../images/bg-frame-6.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
}
.work__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.work__item.img {
  width: 950px;
	background-image: url(../images/bg-frame-3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
	margin-left: -50px;
}
.work__item.num ul.num__item {
	position: relative;
	padding-left: 100px;
	padding-top: 30px;
}
.work__item.num ul.num__item:before {
  content: '';
	width: 100px;
	height: 570px;
	position: absolute;
	background-image: url(../images/num.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	left: 0;
	top: 0;
}
.work__item.num ul.num__item li.item {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 45px;
	position: relative;
	padding-left: 50px;
}
.work__item.num ul.num__item li.item::before {
	content: '';
	position: absolute;
	width: 27px;
	height: 1px;
	background-image: url(../images/line.svg);
	left: 0;
	top: 50%;
}
.work__item.num ul.num__item li ul {
	margin-top: 10px;
}
.work__item.num ul.num__item li ul li {
	font-size: 18px;
	margin-bottom: 5px;
	list-style-type: disc;
	margin-left: 20px;
	font-weight: 400;
}
.work__item.num .text__center {
	margin-top: 100px;
}
/*------------------------------------------------------------------------------------  usage*/
.usage {
	background-image: url(../images/bg-frame-9.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right center;
}
.usage__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 50px;
	margin-top: 50px;
}
.usage__item ul li {
	width: calc(100% / 3 - 35px);
	text-align: center;
}
.usage__item ul li img {
	width: 260px;
}
.usage__item ul li p {
	font-size: 30px;
	font-weight: 500;
}
/*------------------------------------------------------------------------------------  footer*/
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 15px;
	margin-bottom: 80px;
}
footer .title__section {
	margin-bottom: 50px;
}
.footer__item {
	width: calc(100% / 3 - 10px);
}
.footer__item.bank {
  font-size: 15px;
	margin-top: 5px;
}
ul.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 15px;
}
ul.contact {
  margin-top: 20px;
}
ul.contact li {
	font-size: 17px;
	margin-bottom: 15px;
	position: relative;
	padding-left: 50px;
}
ul.contact li:nth-child(1)::before {
  content: '';
	width: 38px;
	height: 38px;
	background-image: url(../images/map.svg);
	position: absolute;
	left: 0;
}
ul.contact li a {
	margin-top: 10px;
}
ul.contact li:nth-child(2)::before {
	content: '';
	width: 38px;
	height: 38px;
	background-image: url(../images/mail.svg);
	position: absolute;
	left: 0;
}
/*------------------------------------------------------------------------------------  modal*/
.close_modal::before {
	content: "";
	width: 18px;
	height: 18px;
	background-image: url(../images/close.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	background-position: center center;
	right: 15px;
	top: 15px;
}
.dark__block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: rgb(12 12 12 / 75%);
	z-index: 10;
	display: none;
	cursor: pointer;
}
.success {
	background-color: #0C0C0C;
	border: 1px solid #F5FF26;
  border-radius: 15px;
  padding: 15px;
  position: fixed;
  z-index: 20;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  display: none;
	top: 20%;
  left: 0;
  right: 0;
}
.video-modal {
	background-color: #000000;
  position: fixed;
  z-index: 20;
	padding: 20px;
  width: 750px;
  margin: 0 auto;
  text-align: center;
  display: none;
	top: 20%;
  left: 0;
  right: 0;
}
.video-modal video {
	width: 100%;
}
.form__title {
	margin-top: 0px;
}
/*------------------------------------------------------------------------------------ swiper*/
.swiper-button-next:after, .swiper-button-prev:after {
	color: #000;
}
/*------------------------------------------------------------------------------------- top*/
#button {   
	display: inline-block;   
	background-color:#F5FF26;  
	width: 50px; 
	height: 50px; 
	text-align: center;   
	border-radius: 4px;   
	position: fixed;   
	bottom: 15px;   
	right: 15px;   
	-webkit-transition: background-color .3s, opacity .5s, visibility .5s;   
	-o-transition: background-color .3s, opacity .5s, visibility .5s;   
	transition: background-color .3s, opacity .5s, visibility .5s; 
	opacity: 0;
  visibility: hidden;
	z-index: 1000; 
	color: #0C0C0C;
} 
#button:hover {
  cursor: pointer;
	-webkit-box-shadow: 0px 0px 18px #F5FF26;
	        box-shadow: 0px 0px 18px #F5FF26;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
#button.show {
  opacity: 1;
  visibility: visible;
}